* {
  box-sizing: border-box;
}

body {
  font-family: Roboto Slab;
  font-size: medium;
  margin: 0;
  padding: 20px;
  /* background-image: url('../img/flags_of_world.jpg'); */
  /* background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  height: 100%; */
}

h1 {
  text-align: center;
}

.search-form {
  text-align: center;
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.photo-card {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.photo-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.info {
  margin-top: 10px;
}

.info-item {
  margin-bottom: 5px;
  font-weight: bold;
}

.notiflix-notify {
  color: #fff !important;
  background-color: #333 !important;
}

.notiflix-notify.failure {
  background-color: #ff4444 !important;
}
